.row
  .col-lg-6.col-lg-offset-3
    .page-header
      %h1
        Forgot your password?
    .well.so-component
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.input :email, required: true, autofocus: true
        .form-actions.form-group
          .col-sm-9.col-sm-offset-3
            = f.button :submit, 'Send me reset password instructions'
            &nbsp;
            = link_to 'Log in', new_session_path(resource_name)
    .panel.panel-default
      .panel-body.text-center
        New to here?
        = link_to 'Sign up',  new_registration_path(resource_name)
