!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    = display_meta_tags site: 'SampleOauth'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/gtag'
  %body
    / Google Tag Manager (noscript)
    %noscript
    %iframe{:height => '0', :src => "https://www.googletagmanager.com/ns.html?id=GTM-NSGW836", :style => "display:none;visibility:hidden", :width => "0"}
    / End Google Tag Manager (noscript)
    = render 'layouts/nav_bar'
    .container
      = flash_messages
      = yield
    %footer
      #theme-credits
        Bootstrap theme
        %a{href: 'https://bootswatch.com/', target: '_blank'} bootswatch.com
